<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>
ID: <span th:text="${user.getId()}"/>
<br>
NAME: <span th:text="${user.getName()}"/>
<br>
SURNAME: <span th:text="${user.getSurname()}"/>
<br>
AGE: <span th:text="${user.getAge()}"/>
<br>
<br>
<a th:href="@{/users/{id}/edit (id=${user.getId()})}">edit user</a>
<form th:method="DELETE" th:action="@{/users/{id}(id = ${user.getId()})}">
    <input type="submit" value="delete user">
</form>
</body>
</html>